name: Cron Job

on:
  schedule:
    - cron: '*/15 * * * *' # Run every 15 minutes
  workflow_dispatch: # Allow manual trigger

jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call Cron Endpoint
        run: |
          curl -X GET ${{ secrets.VERCEL_APP_URL }}/api/cron/resolve \
          -H "Authorization: Bearer ${{ secrets.CRON_SECRET }}"
